body {
  max-width: 1200px;
  min-width: 800px;
  margin: 1em auto;
  padding: 0 1em;
  font-family: sans-serif;
  font-size: 16px;
}

th {
  padding: 0 1em 0 0;
}

span.color {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 0.5em;
}

p {
  hyphens: auto;
}

p#instructions {
  margin: 1em 2em;
}

p#status {
  font-size: 14pt;
  font-weight: bold;
  border: 1px solid grey;
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
}

div#controls {
  display: flex;
  justify-content: space-between;
}

div#controls button {
  border: 1px solid black;
  font-size: 14pt;
  border-radius: 5px;
  width: 10em;
  height: 2.5em;
}

div#cards {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.card {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: #000000;
}

div.card p.matches,
div.card p.caption {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  margin: 5px;
}

div.portrait {
  width: 180px;
}

p.matches {
  text-align: center;
  color: white;
  width: 2em;
  margin: 0 auto;
  font-size: 16pt;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 0.5em auto 1em auto;
}

p.matches-0 {
  background-color: red;
}

p.matches-1 {
  background-color: orange;
}

p.matches-2 {
  background-color: green;
}
